<!DOCTYPE HTML>
<html>
	<head>

		<title>Healthify</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />



        <link rel=stylesheet href="{{ url_for('static', filename='css/skel.css') }}"/>
		<link rel=stylesheet href="{{ url_for('static', filename='css/style.css') }}"/>
		<link rel=stylesheet href="{{ url_for('static', filename='css/style-xlarge.css') }}"/>
		<link rel=stylesheet href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"/>

	</head>
	<body id="top">
		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="{{url_for('home')}}">HEALTHIFY</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="{{url_for('home')}}">Home</a></li>
						<li><a href="#consult">Book Appointment</a></li>
						<li><a href="#">Order Medicine</a></li>
						<li><a href="#blog">Blog</a></li>
						<li><a href="#" class="button special">Contact Us</a></li>
                        <li><a href="{{url_for('logout')}}" class="button special">Log out</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1 style="color: white; font-size: 48px;">Healthify</h1>
					<p style="color:whitesmoke; margin-top: 15px; font-size: 24px;">We provide basic medical services </p>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<header class="major">
					<h2 id="consult">CONSULT</h2>
					<p style="margin-top: 5px;">Select the category </p>
				</header>
				<div class="container">
					<div class="row">
						<div class="4u">
							<section class="special box">
									<i class="icon dentist major"></i>
								<h3><a href="{{url_for('dentist')}}">Dentist</a></h3><br>
								<p><br>A dentist,also known as a dental surgeon,is a surgeon who specializes in dentistry,the diagnosis,prevention,and treatment of diseases and conditions of the oral cavity.</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
									<i class="icon fa fa-eye major"></i>
								<h3><a href="{{url_for('ENT')}}">Ear, nose, and throat (ENT) doctor</a></h3>
								<p>An ENT doctor specializes in conditions and disorders that affect the areas in and around your ears, nose, and throat. This type of doctor is also known as an otolaryngologist.</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
									<i class="icon fa fa-smile-o major"></i>
								<h3><a href="{{url_for('dermatologist')}}">Dermatologist</a></h3><br>
								<p><br>A dermatologist is a doctor who specializes in the treatment of conditions and disorders that affect the:-<br> skin, hair, nails, membranes lining your mouth, nose, and eyelids.</p>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="4u">
							<section class="special box">
								<i class="icon 	fa fa-plus-square major"></i>
								<h3><a href="{{url_for('neurologist')}}">Neurologist</a></h3>
								<p>A neurologist treats conditions and disorders of the nervous system. The nervous system is a vast network that’s responsible for many of the body’s major activities.<br>Your nervous system includes the:- brain, spinal-cord, nerves, ears, eyes, skin, nose</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa fa-wheelchair major"></i>
								<h3><a href="{{url_for('podiatrist')}}">Podiatrist</a></h3>
								<p>A podiatrist diagnoses and treats conditions of the foot, ankle, leg, and their surrounding structures.Podiatrists have specialized training to care for these parts of your body properly. Conditions they treat range from diabetic infections and bone loss, to toenail fungus.</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa fa-user-md major"></i>
								<h3><a href="{{url_for('physicalTherapist')}}">Physical therapist</a></h3>
								<p>A physical therapist is a highly trained and licensed medical professional that provides many different types of services. Physical therapists work with people of all ages, sizes, and abilities.<br><br></p>
							</section>
						</div>
					</div>
				</div>
			</section>

<section id="two" class="wrapper style2">
         <header class="major">
          <h2 id="blog">Health Articles</h2>
          <p style="margin-top: 10px;">Scroll to access more health articles</p>
         </header>
        <div class="container">
           <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>

                      <div class="carousel-inner">
                            <div class="carousel-item active">
                                    <div class="row">
                             <div class="col-md-4">
                                 <div class="card mt-5">
                    <div class="card-block">
                      <img src="static/images/pic01.jpg" class="d-block w-100 img-fluid" alt="Third slide" height="500px" width="500px">
                      <div class="card-title mt-3">
                        <h2 align = "center" style="color:black">  Hello </h2>
                      </div>
                      <div class="card-text ml-1 .carousel-caption">
                        hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.
                      <div class = "card-footer mt-3 .carousel-caption">
                          <section align="center">
                        <a href = "#" class="btn btn">Learn more</a></section>
                      </div>
                      </div>
                    </div>
                  </div>
          </div>
                            <div class="col-md-4">

                                <div class="card mt-5">
                    <div class="card-block">
                      <img src="static/images/pic01.jpg" class="d-block w-100 img-fluid" alt="Third slide" height="500px" width="500px">
                      <div class="card-title mt-3">
                        <h2 align = "center" style="color:black">  Hello </h2>
                      </div>
                      <div class="card-text ml-1 .carousel-caption">
                        hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.
                      <div class = "card-footer mt-3 .carousel-caption">
                          <section align="center">
                        <a href = "#" class="btn btn">Learn more</a></section>
                      </div>
                      </div>
                    </div>
                  </div>

                              </div>
                               <div class="col-md-4">
                       <div class="card mt-5">
                    <div class="card-block">
                      <img src="static/images/pic01.jpg" class="d-block w-100 img-fluid" alt="Third slide" height="500px" width="500px">
                      <div class="card-title mt-3">
                        <h2 align = "center" style="color:black">  Hello </h2>
                      </div>
                      <div class="card-text ml-1 .carousel-caption">
                        hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.
                      <div class = "card-footer mt-3 .carousel-caption">
                          <section align="center">
                        <a href = "#" class="btn btn">Learn more</a></section>
                      </div>
                      </div>
                    </div>
                  </div>
                    </div>
                            </div>
                            </div>
                                   <div class="carousel-item ">
                                    <div class="row">
                             <div class="col-md-4">
                                 <div class="card mt-5">
                    <div class="card-block">
                      <img src="static/images/pic01.jpg" class="d-block w-100 img-fluid" alt="Third slide" height="500px" width="500px">
                      <div class="card-title mt-3">
                        <h2 align = "center" style="color:black">  Hello </h2>
                      </div>
                      <div class="card-text ml-1 .carousel-caption">
                        hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.
                      <div class = "card-footer mt-3 .carousel-caption">
                          <section align="center">
                        <a href = "#" class="btn btn">Learn more</a></section>
                      </div>
                      </div>
                    </div>
                  </div>
          </div>
                            <div class="col-md-4">

                                <div class="card mt-5">
                    <div class="card-block">
                      <img src="static/images/pic01.jpg" class="d-block w-100 img-fluid" alt="Third slide" height="500px" width="500px">
                      <div class="card-title mt-3">
                        <h2 align = "center" style="color:black">  Hello </h2>
                      </div>
                      <div class="card-text ml-1 .carousel-caption">
                        hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.
                      <div class = "card-footer mt-3 .carousel-caption">
                          <section align="center">
                        <a href = "#" class="btn btn">Learn more</a></section>
                      </div>
                      </div>
                    </div>
                  </div>

                              </div>
                               <div class="col-md-4">
                       <div class="card mt-5">
                    <div class="card-block">
                      <img src="static/images/pic01.jpg" class="d-block w-100 img-fluid" alt="Third slide" height="500px" width="500px">
                      <div class="card-title mt-3">
                        <h2 align = "center" style="color:black">  Hello </h2>
                      </div>
                      <div class="card-text ml-1 .carousel-caption">
                        hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.
                      <div class = "card-footer mt-3 .carousel-caption">
                          <section align="center">
                        <a href = "#" class="btn btn">Learn more</a></section>
                      </div>
                      </div>
                    </div>
                  </div>
                    </div>
                            </div>
                            </div>
                                   <div class="carousel-item ">
                                    <div class="row">
                             <div class="col-md-4">
                                 <div class="card mt-5">
                    <div class="card-block">
                      <img src="static/images/pic01.jpg" class="d-block w-100 img-fluid" alt="Third slide" height="500px" width="500px">
                      <div class="card-title mt-3">
                        <h2 align = "center" style="color:black">  Hello </h2>
                      </div>
                      <div class="card-text ml-1 .carousel-caption">
                        hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.
                      <div class = "card-footer mt-3 .carousel-caption">
                          <section align="center">
                        <a href = "#" class="btn btn">Learn more</a></section>
                      </div>
                      </div>
                    </div>
                  </div>
          </div>
                            <div class="col-md-4">

                                <div class="card mt-5">
                    <div class="card-block">
                      <img src="static/images/pic01.jpg" class="d-block w-100 img-fluid" alt="Third slide" height="500px" width="500px">
                      <div class="card-title mt-3">
                        <h2 align = "center" style="color:black">  Hello </h2>
                      </div>
                      <div class="card-text ml-1 .carousel-caption">
                        hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.
                      <div class = "card-footer mt-3 .carousel-caption">
                          <section align="center">
                        <a href = "#" class="btn btn">Learn more</a></section>
                      </div>
                      </div>
                    </div>
                  </div>

                              </div>
                               <div class="col-md-4">
                       <div class="card mt-5">
                    <div class="card-block">
                      <img src="static/images/pic01.jpg" class="d-block w-100 img-fluid" alt="Third slide" height="500px" width="500px">
                      <div class="card-title mt-3">
                        <h2 align = "center" style="color:black">  Hello </h2>
                      </div>
                      <div class="card-text ml-1 .carousel-caption">
                        hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.hello everyone welcome to my webpage.
                      <div class = "card-footer mt-3 .carousel-caption">
                          <section align="center">
                        <a href = "#" class="btn btn">Learn more</a></section>
                      </div>
                      </div>
                    </div>
                  </div>
                    </div>
                            </div>
                            </div>


                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>


                </div>
          </div>

        </section>



		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row double">
						<div class="6u">
							<div class="row collapse-at-2">
								<div class="6u">
									<h3>Category</h3>
									<ul class="alt">
										<li><a href="#consult">Book Appointment</a></li>
										<li><a href="#">Order Medicine</a></li>
										<li><a href="#blog">Blog</a></li>
										<li><a href="#">Contact Us</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="6u">
							<h2>Healthify</h2>
							<p>Here! at healthify We provides medical solutions to our customers like providing online appointment for doctors and order medicines online. We also provide daily health blogs to the visitors.</p>
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
							</ul>
						</div>
					</div>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li>
					</ul>
				</div>
			</footer>







			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</body>
</html>