<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/health.png')}}">
    <meta name="author" content="codepixer">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>Blog Details</title>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400,500" rel="stylesheet">
    <link rel=stylesheet href="{{ url_for('static', filename='css/linearicons.css') }}"/>
    <link rel=stylesheet href="{{ url_for('static', filename='css/font-awesome.min.css') }}"/>
    <link rel=stylesheet href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel=stylesheet href="{{ url_for('static', filename='css/magnific-popup.css') }}"/>
    <link rel=stylesheet href="{{ url_for('static', filename='css/nice-select.css') }}"/>
    <link rel=stylesheet href="{{ url_for('static', filename='css/animate.min.css') }}"/>
    <link rel=stylesheet href="{{ url_for('static', filename='css/owl.carousel.css') }}"/>
    <link rel=stylesheet href="{{ url_for('static', filename='css/main.css') }}"/>

</head>

<body>

    <section class="banner-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Blog Details
                    </h1>
                    <p class="text-white link-nav"><a href="{{url_for('home')}}">Home </a> <span class="lnr lnr-arrow-right"></span>
                        </p>
                </div>
            </div>
        </div>
    </section>
    <section class="blog_area section-gap single-post-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="main_blog_details">
                        <img class="img-fluid" src="{{url_for('static', filename='images/blog/display/p1.jpg')}}" alt="">
                        <h4>More TV, Tablets, More Attention Issues at Age 5</h4>
                        <div class="user_details">
                            
                            <div class="float-right">
                                <div class="media">
                                    <div class="media-body">
                                        <h5>Dr. Nina stan</h5>
                                        <p>Wednesday, April 17, 2018</p>
                                    </div>
                                    <div class="d-flex">
                                        <img src="{{url_for('static', filename='images/blog/author/c1.jpg')}}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Five-year-olds who spend more than two hours a day in front of a smartphone or tablet may be at risk of attention problems, a new study suggests.</p>
                        <p>Excessive "screen time" among children has been the subject of much research -- particularly now that even the youngest kids are staring at phones and iPads every day.</p>
                        <blockquote class="blockquote">
                            <p class="mb-0">And it's something that parents can act on</p>
                        </blockquote>
                        <p>The American Academy of Pediatrics advises parents to set limits on screen time for preschoolers: no more than one hour a day for 2- to 5-year-olds. That's, in part, to make sure they have plenty of "unplugged" playtime.</p>
                       
                    </div>
                    
                    
                </div>

              
                   

              


                </div>
            </div>
        </div>
    </section>
   
    <footer class="footer-area section-gap">
        <div class="container box_1170">
            <div class="row">
                <div class="col-lg-10 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">About Us</h6>
                        <p>Here! at healthify We provides medical solutions to our customers like providing online appointment for doctors and order medicines online. We also provide daily health blogs to the visitors.</p>
                    </div>
                </div>
                  <div class="col-lg-2 col-md-6 col-sm-6 pull-right">
                    <div class="single-footer-widget f_social_wd ">
                        <h6 class="footer_title ">Follow Us</h6>
                        <p>Let us be social</p>
                        <ul class="icons">
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
							</ul>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-12 footer-text text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  <i class="fa fa-heart-o" aria-hidden="true"></i>  <a href="https://colorlib.com" target="_blank"></a>
</p>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="{{url_for('static', filename='js/vendor/jquery-2.2.4.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/easing.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/hoverIntent.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/superfish.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.ajaxchimp.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.nice-select.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/waypoints.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/mail-script.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>


</body>

</html>